.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notificatins
    i.fa.fa-bell.fa-lg#notfication( data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    .dropdown-menu(aria-labelledby='notfication')
      | notification
