.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notificatins
    i.fa.fa-bell.fa-lg#notfication( data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    .dropdown-menu(aria-labelledby='notfication')
      .noti-head
        | Notification
        span 50
      .noti-content
        ul.list-unstyled
          li.person
            h4 monther saeed
            p.person-pra this is notification for you
          li.person
            h4 monther saeed
            p.person-pra this is notification for you
          li.person
            h4 monther saeed
            p.person-pra this is notification for you
      .noti-foot.text-center: a(href="#") Show All Notification
  i.fa.fa-expand.fa-lg.togglefullscreen.header-icon
  .dropdown.usermenu-container
    .usermenu#username(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      img.avtar.rounded-circle(src="/stage/images/Design_64px.png",alt="")
      span.user Monther saeed
      i.fa.fa-angle-down.fa-lg
    .dropdown-menu.dropdown-menu-right(aria-labelledby='username')
      .user-info
        h3 Monther Saeed
        p this is mager of the system
      hr
      ul.activites.list-unstyled
        li this is one links for clients
        li this is links for facebook
        li this page is content about nesuines
      hr
      .row.user-links
        .col 
          .links-box
            i.fa.fa-gear.fa-lg.fa-fw
            sapn Setting
        .col 
          .links-box
            i.fa.fa-user.fa-lg.fa-fw
            sapn My Profile
        .col 
          .links-box
            i.fa.fa-power-off.fa-lg.fa-fw
            sapn Log Out