.sidebar
  .logo-aera
    h3 Monther Saeed
  ul.links-aera.list-unstyled
    li: a(href="#") Hompage
    li
      a.toggle-sumenu(href="#") 
        | Forms
        i.fa.fa-angle-right
      ul.childe-links.list-unstyled
        li: a(href="#") TextAera
        li: a(href="#") CheckBox
        li: a(href="#") Input
    li
      a.toggle-sumenu(href="#") 
        | Misc
        i.fa.fa-angle-right

      ul.childe-links.list-unstyled
        li: a(href="#") TextAera
        li: a(href="#") CheckBox
