// this are All the Elements Globale
* {
    box-sizing: border-box;
}

body {
    height: 3000px;
    font-family: "Open Sans", sans-serif;
}

.page {
    min-height: 100vh;
    .container-aera {
        width: 81%;
        min-height: 100vh;
        transition: 0.3s;
        will-change: width;
        background-color: #f1f2f6;
        float: right;
        &.no-sidebar {
            width: 100%;
        }
    }
    .page-head {
        .page-title {
            font-weight: bold;
            color: green;
        }
    }
}