.header {
    background-color: #fff;
    padding: 17px;
    .toggle-sidebar {
        cursor: pointer;
        &:hover {
            color: green;
        }
    }
    .header-icon {
        display: inline-block;
        margin-left: 20px;
        cursor: pointer;
    }
    .notificatins {
        display: inline-block;
        margin-left: 20px;
        cursor: pointer;
        .dropdown-menu {
            min-width: 300px;
            border: none;
            top: 3px !important;
            &::before {
                content: "";
                position: absolute;
                top: -12px;
                left: 0px;
                border-width: 10px;
                border-color: transparent transparent #292c33 transparent;
                border-style: solid;
            }
            .noti-head {
                background-color: #292c33;
                color: #fff;
                padding: 10px;
                span {
                    float: right;
                }
            }
            .noti-content {
                padding: 10px;
                ul {
                    .person {
                        width: 55px;
                        height: 55px;
                        background-color: #292c33;
                        border-radius: 50%;
                        position: relative;
                        margin-bottom: 8px;
                        h4 {
                            text-transform: capitalize;
                            font-size: 17px;
                        }
                        h4,
                        .person-pra {
                            position: absolute;
                            left: 65px;
                            top: 7px;
                            width: 150px;
                        }
                        .person-pra {
                            position: absolute;
                            left: 65px;
                            top: 28px;
                            width: 250px;
                            font-size: 14px;
                        }
                    }
                }
            }
            .noti-foot {
                a {
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #292c33;
                    text-decoration: none;
                }
            }
        }
    }
    .usermenu-container {
        float: right;
        position: relative;
        top: -9px;
        .usermenu {
            cursor: pointer;
            .avtar {
                width: 40px;
                height: 40px;
                background-color: #292c33;
            }
            .user {
                font-size: 15px;
                margin-right: 10px;
                margin-left: 10px;
                color: #777;
            }
        }
        .dropdown-menu {
            min-width: 500px;
            border: none;
            top: 5px !important;
            padding: 12px;
            border: 1px solid #292c33;
            border-radius: 0 !important;
            &::before {
                content: "";
                position: absolute;
                top: -21px;
                right: 10px;
                border-width: 10px;
                border-color: transparent transparent #292c33 transparent;
                border-style: solid;
            }
            .user-info {
                h3 {
                    font-weight: bold;
                    font-size: 22px;
                }
                p {
                    color: #999;
                }
            }
            .activites {
                li {
                    padding: 8px;
                }
            }
            .user-links {
                .links-box {
                    border: 1px solid #292c33;
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    text-align: right;
                    i {
                        float: left;
                        position: relative;
                        top: 5px;
                        &.fa-gear {
                            color: #3493db;
                        }
                        &.fa-user {
                            color: #c0392b;
                        }
                        &.fa-power-off {
                            color: #e74c3c;
                        }
                    }
                }
            }
        }
    }
}