//- include pug/variables/variables.pug
<!DOCTYPE html>
html(lang="en")
  heade
    meta(charset="UTF-8")
    meta(name="viewport".content="width=device-width, initial-scal=1.0")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")
    title HomePage
    link(rel="stylesheet" href="css/main.css")

  body
    .page.home-page
      include pug/layout/sidebar.pug 
      .container-aera 
        h1 HomePage