//- include pug/variables/variables.pug
<!DOCTYPE html>
html(lang="en")
  heade
    meta(charset="UTF-8")
    meta(name="viewport".content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")
    title HomePage
    include pug/layout/style

  body
    .page.home-page
      include pug/layout/sidebar
      .container-aera
        include pug/layout/header
        .container-fluid
          .content
            .page-head
              include pug/components/page-head
  include pug/layout/scripts