$themes: ( green-them: ( color: #27ae60), blue-them: ( color: #2980b9), red-them: ( color: #c0392b));
@each $theme,
$map in $themes {
    .#{$theme} {
        .page .page-head .page-title {
            color: map-get($map, color);
        }
        .header .toggle-sidebar:hover {
            color: map-get($map, color);
        }
        .page .links-aera .childe-links a:hover:before {
            background-color: map-get($map, color);
        }
        .header .usermenu-container .dropdown-menu .user-info h3 {
            color: map-get($map, color);
        }
    }
}