.setting-box.hide-setting
  i.fa.fa-gear.fa-lg.toggle-setting
  .setting-content.text-center
    .option.color-options
      h4.option-title color option
      - var thems=["green-them","blue-them","red-them"]
      ul.list-unstyled
        each them in thems
          li(data-them=them)
    .option
      h4.option-title color name
    .option
      h4.option-title color name